// Fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,200');
@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nunito:200,600');
@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Exo+2&display=swap');

$font-primary:              'Anton', sans-serif;
$font-arial:                 Arial, Helvetica, sans-serif;
$font-times-new-roman:      'Times New Roman', Times, serif;
$font-montserrat:           'Montserrat', 'Helvetica Neue',  Arial, sans-serif;
$font-exo:                  'Exo 2', sans-serif;